$font-family: 'Lato', sans-serif;
$primary-color: #fff;

@mixin styles ($margin, $padding, $font-size: auto, $font-weight: auto) {
  margin: $margin;
  padding: $padding;
  font-size: $font-size;
  font-weight: $font-weight;
}

body {
  font-family: $font-family;
}

#container {
  @include styles(0 auto, 30px);
  width: 35%;
  margin-top: 300px;
  border-radius: 15px;
  text-align: center;
  background-color: $primary-color;
}

#buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#text {
  @include styles(0, 20px, 1.5em, 300);
}

#author {
  @include styles(0, 5px, 1em, 400);
}

#new-quote,
#tweet-quote {
  @include styles(0, 10px, 1.1em, 500);
  color: $primary-color;
}