@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$clock-font: "Quicksand", sans-serif;

#calculator-wrapper {
    font-family: $clock-font;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    zoom: 1.5;
}

#output {
    text-align: right;
    margin-bottom: 20px;
    display: grid;
    grid-template: repeat(2, 1fr);
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    font-weight: bold;
}

#formula {
    font-family: $clock-font;
    font-weight: 100;
    grid-area: 1 / 1 / span 1 / span 4;
    font-size: 1rem;
    min-height: 24px;
}

#display {
    font-family: $clock-font;
    font-weight: 100;
    text-shadow: none;
    grid-area: 2 / 1 / span 1 / span 4;
    margin-top: -10px;
    font-size: 1.6rem;
    color: #fff;
    min-height: 39px;
}

#calculator-wrapper>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/* Style for the buttons */
#calculator-wrapper button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the buttons on hover */
#calculator-wrapper button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
