@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-family: "Lato", sans-serif;
$primary-color: #fff;

@mixin styles ($margin, $padding, $font-size: auto, $font-weight: auto) {
  margin: $margin;
  padding: $padding;
  font-size: $font-size;
  font-weight: $font-weight;
}

#container {
  @include styles(0 auto, 30px);
  width: 35%;
  margin-top: 300px;
  border-radius: 15px;
  text-align: center;
  background-color: $primary-color;
}

#quote-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

#text {
  @include styles(0, 20px, 1.5em, 400);
  font-family: $font-family;
}

#author {
  @include styles(0, 5px, 1.1em, 500);
  font-family: $font-family;
}

#text,
#author {
  transition: color 2s ease;
}

#new-quote,
#tweet-quote {
  @include styles(0, 10px, 1.1em, 500);
  color: $primary-color;
}

#tweet,
#new-quote {
  transition: background-color 2s ease;
}